

<h1>MY TO DO LIST!</h1>

<h2>What all do I need to Accomplish today?</h2>



<ul>
  {{#each burgers}}
    {{#unless this.incomplete}}
      <li>
       <p class= "toDo"> {{this.ID}} {{this.task}} </p>
            <p> Created : {{this.date}} </p>

        <form action="burgers/update/{{this.ID}}?_method=PUT" method="POST">
          <input type="hidden" name="incomplete" value="true">
          <button type="submit">COMPLETED!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>COMPLETED TASKS</h2>

<ul>
  {{#each burgers}}
    {{#if this.incomplete}}
      <li>
       <p class= "toDo"> {{this.ID}} {{this.task}} </p>
            <p> Created : {{this.date}} </p>

        <form action="burgers/update/{{this.ID}}?_method=PUT" method="POST">
          <input type="hidden" name="status" value="false">
          <button type="submit">INCOMPLETE!</button>
        </form>

        {{> burgers/delete-burger}} 
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a TASK</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="ta">TASK:</label>
    <input type="text" id="ta" name="task">
  </div>

  <div class="form-group">
    <label for="ci">Complete or Incomplete?</label><br>
    <input type="radio" name="status" value="1" checked> incomplete!<br>
    <input type="radio" name="status" value="0"> Complete
  </div>

  <button type="submit">Add Task</button>
</form>
